 .u-section-1 {
  --color-var: #e0c4a0;
}

.u-section-1 .u-sheet-1 {
  min-height: 809px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 133px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 515px;
  --color-var: #7a5c3b54;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Alike;
  font-size: 3.125rem;
  font-weight: 700;
  margin: 57px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 44px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 515px;
  background-image: url("images/bd2b324e-4a69-41a5-9563-8328d51b6ed2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-duration: 4000ms;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-1 .u-image-1 {
    min-height: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 734px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.953125rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 462px;
  }
} .u-section-2 {
  --color-var: #e0c4a0;
}

.u-section-2 .u-sheet-1 {
  min-height: 932px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1084px;
  margin: 121px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 530px;
  --gap: 50px;
  grid-auto-columns: calc(50% - 25px);
}

.u-section-2 .u-list-item-1 {
  --color-var: #f5eade;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Alike;
  margin: 7px 19px 0 41px;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  margin: 41px 30px 0;
}

.u-section-2 .u-list-item-2 {
  --color-var: #f5eade;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Alike;
  margin: 7px 19px 0 41px;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  margin: 41px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 485px;
  height: 129px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 69px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 460px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 90px;
  }
} .u-section-3 {
  background-image: none;
  --color-var: #e0c4a0;
}

.u-section-3 .u-sheet-1 {
  min-height: 1193px;
}

.u-section-3 .u-text-1 {
  font-family: Alike;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 31px 399px 0 422px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 917px;
  margin: 40px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 30px);
  grid-template-columns: repeat(2, calc(50% - 30px));
  --gap: 60px;
  min-height: 480px;
}

.u-section-3 .u-list-item-1 {
  --color-var: #fef5ed;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-3 .u-icon-1 {
  width: 92px;
  height: 92px;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-family: Alike;
  margin: 54px 7px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin: 40px 0 0 15px;
}

.u-section-3 .u-list-item-2 {
  --color-var: #fef5ed;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-3 .u-icon-2 {
  width: 92px;
  height: 92px;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-family: Alike;
  margin: 54px 7px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin: 40px 0 0 15px;
}

.u-section-3 .u-list-2 {
  width: 917px;
  margin: 31px auto 60px;
}

.u-section-3 .u-repeater-2 {
  --gap: 60px;
  grid-auto-columns: calc(50% - 30px);
  grid-template-columns: repeat(2, calc(50% - 30px));
  min-height: 463px;
}

.u-section-3 .u-list-item-3 {
  --color-var: #fef5ed;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 96px;
  height: 96px;
  margin: 52px 149px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-family: Alike;
  margin: 47px 13px 0 27px;
}

.u-section-3 .u-text-7 {
  font-weight: 500;
  margin: 54px 0 0;
}

.u-section-3 .u-list-item-4 {
  --color-var: #fef5ed;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 96px;
  height: 96px;
  margin: 52px 149px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-family: Alike;
  margin: 47px 13px 0 27px;
}

.u-section-3 .u-text-9 {
  font-weight: 500;
  margin: 54px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-family: Poppins;
    font-size: 3rem;
    --text-color-var: #926844;
    margin-right: 299px;
    margin-left: 322px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 433px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 189px;
    margin-left: 212px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-list-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 99px;
    margin-left: 122px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 92px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 92px;
  }
}