 .u-section-1 {
  --color-var: #bdc8a0;
}

.u-section-1 .u-sheet-1 {
  min-height: 1742px;
}

.u-section-1 .u-group-1 {
  width: 936px;
  min-height: 1089px;
  height: auto;
  --color-var: #f9eee0;
  --radius: 40px;
  margin: 281px auto 60px 93px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Alike;
  font-size: 2.25rem;
  margin: 161px 313px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 405px;
  margin: 93px 16px 0 43px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  width: 100%;
  padding: 10px 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  text-decoration: underline !important;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  --text-color-var: #6a7b32;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 4px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 771px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 241px;
  }

  .u-section-1 .u-form-1 {
    width: 660px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 28px 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 117px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}